$menu-trigger: 1080px;

.docs {
  background: #F9F7F7;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  #js-menu-open {
    background: darken(#F3EFEF, 2%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    padding: 3px 5px 1px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 5;

    @media screen and (max-width: $menu-trigger) {
      display: block;
    }
  }

  #js-menu-close {
    background: darken(#F3EFEF, 5%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    padding: 3px 5px 1px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    @media screen and (max-width: $menu-trigger) {
      display: block;
    }
  }

  .warning {
    background: #ffeecc;
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 85%;
    margin: 35px auto;
  }

  // Say hello to...
  p:nth-of-type(2) {
    margin: 60px 0 40px;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.3;

    @media screen and (max-width: 600px) {
      font-size: 36px;
    }
  }

  .sidebar, .content {
    pre {
      display: block;
      box-sizing: border-box;
      max-width: 100%;
      overflow-x: auto;
    }
  }

  .sidebar {
    z-index: 10;
    background: #F3EFEF;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    transition: all .3s ease;

    @media screen and (max-width: $menu-trigger) {
      width: 50%;
      left: -50%;
      background: rgba(#F3EFEF, .97);
      box-shadow: 3px 0 100px rgba(0,0,0,0);
    }

    @media screen and (max-width: $menu-trigger / 2) {
      width: 75%;
      left: -75%;
    }

    &.open {
      @media screen and (max-width: $menu-trigger) {
        left: 0;
        box-shadow: 3px 0 100px rgba(0,0,0,0.1);
      }
    }
  }

  .content {
    width: 75%;
    margin-left: 25%;
    transition: all .3s ease;

    @media screen and (max-width: $menu-trigger) {
      width: 100%;
      margin-left: 0;
    }
  }

  .sidebar-inner {
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
  }

  .content-inner {
    box-sizing: border-box;
    padding: 25px 35px 50px;
    max-width: 800px;

    img {
      max-width: 100%;
    }
  }

  code {
    font-family: $codefont;
  }

  p, li {
    code {
      font-size: 95%;
      background: darken(#F3EFEF, 2%);
      padding: 3px 5px 2px;
    }
    a {
      transition: all .3s ease;
      color: #911841;
      &:hover {
        color: #EF5A66;
      }
    }
  }

  pre {
    border-left: 2px solid lighten(#EF5A66, 25%);
    background: #F3EFEF;
    padding: 25px 25px;
    line-height: 1.3;
    border-radius: 4px;

    // (make (delicious code) ...)
    &:first-of-type {
      border: 0;
      background: transparent;
      margin: -36px 0 0 0;
      font-size: 125%;
      padding: 0 0 0 32%;

      @media screen and (max-width: 600px) {
        font-size: 90%;
        margin: -25px 0 0 0;
      }

      @media screen and (max-width: 400px) {
        display: none;
      }
    }

    code {
      font-size: 85%;

      .normal {
        color: #242424;
      }
      .comment {
        color: #adadad;
        font-style: italic;
      }
      .string {
        color: #2B751E;
      }
      .keyword {
        color: #911841;
      }
      .html {
        color: #EF5A66;
      }
      .symbol {
        color: #ca7a29;
      }
      .number {
        color: #6e2295;
      }
      .regex {
        color: #6e2295;
      }
      .normal.call {
        color: #1564a7;
      }
    }
  }

  #js-nav {
    padding-top: 25px;
    a {
      display: block;
      transition: all .3s ease;
      opacity: 0;
      color: #242424;
      text-decoration: none;
      line-height: 2;
      &:hover {
        color: #EF5A66;
      }
      &.show {
        opacity: 1;
      }
      &.h3 {
        font-weight: 400;
        margin-left: 15px;
      }
    }
  }

}
