.docs {
  background: #F9F7F7;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  p:nth-of-type(2) {
    margin: 60px 0 40px;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.3;
  }

  .sidebar, .content {
    pre {
      display: block;
      box-sizing: border-box;
      max-width: 100%;
      overflow-x: auto;
    }
  }

  .sidebar {
    background: #F3EFEF;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
  }

  .content {
    width: 75%;
    margin-left: 25%;
  }

  .sidebar-inner {
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
  }

  .content-inner {
    box-sizing: border-box;
    padding: 25px 35px 50px;
    max-width: 800px;

    img {
      max-width: 100%;
    }
  }

  code {
    font-family: $codefont;
  }

  p, li {
    code {
      font-size: 95%;
      background: darken(#F3EFEF, 2%);
      padding: 3px 5px 2px;
    }
  }

  pre {
    border-left: 3px solid #EF5A66;
    padding: 15px 25px;
    margin-left: 15px;
    line-height: 1.3;

    &:first-of-type {
      border: 0;
      margin: -36px 0 0 0;
      font-size: 125%;
      padding: 0 0 0 32%;
    }

    code {
      font-size: 85%;

      .comment {
        color: #adadad;
        font-style: italic;
      }
      .string {
        color: #2B751E;
      }
      .keyword {
        color: #911841;
      }
      .html {
        color: #EF5A66;
      }
      .symbol {
        color: #d8832d;
      }
      .number {
        color: #6e2295;
      }
      .normal.call {
        color: #1564a7;
      }
    }
  }

  #js-nav {
    padding-top: 25px;
    a {
      display: block;
      transition: all .3s ease;
      opacity: 0;
      color: #242424;
      text-decoration: none;
      line-height: 2;
      &:hover {
        color: #EF5A66;
      }
      &.show {
        opacity: 1;
      }
      &.h3 {
        font-weight: 400;
        margin-left: 15px;
      }
    }
  }

}
