html, html * {
  outline: none !important; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.docs {
  background: #F9F7F7;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; }
  .docs .warning {
    background: #ffeecc;
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 85%;
    margin: 35px auto; }
  .docs p:nth-of-type(2) {
    margin: 60px 0 40px;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.3; }
  .docs .sidebar pre, .docs .content pre {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: auto; }
  .docs .sidebar {
    background: #F3EFEF;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto; }
  .docs .content {
    width: 75%;
    margin-left: 25%; }
  .docs .sidebar-inner {
    box-sizing: border-box;
    padding: 25px;
    width: 100%; }
  .docs .content-inner {
    box-sizing: border-box;
    padding: 25px 35px 50px;
    max-width: 800px; }
    .docs .content-inner img {
      max-width: 100%; }
  .docs code {
    font-family: "Fira Code", "Hasklig", consolas, monospace; }
  .docs p code, .docs li code {
    font-size: 95%;
    background: #efe9e9;
    padding: 3px 5px 2px; }
  .docs p a, .docs li a {
    transition: all .3s ease;
    color: #911841; }
    .docs p a:hover, .docs li a:hover {
      color: #EF5A66; }
  .docs pre {
    border-left: 2px solid #faced2;
    background: #F3EFEF;
    padding: 25px 25px;
    line-height: 1.3;
    border-radius: 4px; }
    .docs pre:first-of-type {
      border: 0;
      background: transparent;
      margin: -36px 0 0 0;
      font-size: 125%;
      padding: 0 0 0 32%; }
    .docs pre code {
      font-size: 85%; }
      .docs pre code .normal {
        color: #242424; }
      .docs pre code .comment {
        color: #adadad;
        font-style: italic; }
      .docs pre code .string {
        color: #2B751E; }
      .docs pre code .keyword {
        color: #911841; }
      .docs pre code .html {
        color: #EF5A66; }
      .docs pre code .symbol {
        color: #ca7a29; }
      .docs pre code .number {
        color: #6e2295; }
      .docs pre code .regex {
        color: #6e2295; }
      .docs pre code .normal.call {
        color: #1564a7; }
  .docs #js-nav {
    padding-top: 25px; }
    .docs #js-nav a {
      display: block;
      transition: all .3s ease;
      opacity: 0;
      color: #242424;
      text-decoration: none;
      line-height: 2; }
      .docs #js-nav a:hover {
        color: #EF5A66; }
      .docs #js-nav a.show {
        opacity: 1; }
      .docs #js-nav a.h3 {
        font-weight: 400;
        margin-left: 15px; }
